#ProductionFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}


#ProductionFormContainer #form_container {
  width: 1400px;
  padding-bottom: 40px;
}
