#App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#App #body_container {
  width: 100%;
  height: calc(100% - 50px); /* accounting for the navbar */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#App #body_container #left_body_container {
  width: 65%;
  height: 100%;
  display: flex;
}

#App #body_container #right_body_container {
  width: 35%;
  height: 100%;
  display: flex;
}
