#FormMakerPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#FormMakerPage #form_column {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#FormMakerPage #page_break {
  width: 900px;
  height: 15px;
  border-top: 2px dashed black;
}

#FormMakerPage #page_break #page_break_text {
  text-align: right;
  margin-top: 0px;
}

#FormMakerPage .card_container {
  width: 800px;
  padding: 20px;
  background-color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}
