#FormItemSidebar {
  height: 100%;
  width: 100%;
}

#FormItemSidebar #top_bar {
  width: calc(100% - 30px);
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

#FormItemSidebar #top_bar #exit_button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

#FormItemSidebar .title {
  margin: 0px;
  padding: 0px;
}

#FormItemSidebar #type_title {
  margin: 10px 0px 10px 0px;
}

#FormItemSidebar .section {
  width: calc(100% - 15px);
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#FormItemSidebar .row {
  width: 100%;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


#FormItemSidebar .input_title {
  margin: 0px 20px 0px 0px;
  width: 170px;
  text-align: left;
}

#FormItemSidebar #input {
  border: none;
  padding: 5px;
}
